footer {
    background-color: #444;
    width: 100%;
    height: 53px;
   color: white;
    
}
.klasa_stopa {
   margin-left: 35px;
    text-align: center;
    font-size: 26px;
    padding-top: 10px;    
    
}
.klasa_stopa2 {
    margin-left: 565px;
   
    text-align: right;
    font-size: 11px;
   

}
