{% extends "base.html" %}
{% load static %}
{% block title %}Zarejestruj się{% endblock title %}
{% block styles %}
  <link rel="stylesheet" href="{% static "board/styles/register.css"%}">
{% endblock styles %}
{% block content %}


    <div class="container">
      
      <form method="post" action="{% url 'register-page' %}" id="form-senior" hidden>
        {% csrf_token %}
        <h3>Utwórz konto dla osoby starszej</h3>
        <div class="form-group">
          <div>
              {{ user_form.first_name.label_tag }}
              {{ user_form.first_name }}
          </div>
          <div>
              {{ user_form.last_name.label_tag }}
              {{ user_form.last_name }}
          </div>
      </div>
  
      <div>
          {{ user_form.email.label_tag }}
          {{ user_form.email }}
      </div>
  
      <div class="form-group">
          <div>
              {{ user_form.password.label_tag }}
              {{ user_form.password }}
          </div>
          <div>
              {{ user_form.confirm_password.label_tag }}
              {{ user_form.confirm_password }}
          </div>
      </div>
      <div class="form-group">
        <div>
            {{ senior_form.age.label_tag }}
            {{ senior_form.age }}
        </div>
        <div>
            {{ senior_form.phone_number.label_tag }}
            {{ senior_form.phone_number }}
        </div>
    </div>

    <div class="form-group">
        <div>
            {{ senior_form.gender.label_tag }}
            {{ senior_form.gender }}
        </div>
        <div>
            {{ senior_form.independence.label_tag }}
            {{ senior_form.independence }}
        </div>
    </div>

    <div>
        {{ senior_form.duties.label_tag }}
        {{ senior_form.duties }}
    </div>

    <div>
        {{ senior_form.city.label_tag }}
        {{ senior_form.city }}
    </div>
        <!-- Identyfikuje ktory formularz zostal przeslany  -->
        <input type="hidden" name="form_type" value="senior_form">
        <button class="form-btn" type="submit">Zarejestruj się!</button>
      </form>
      <!--  -->
      <!-- Formularz wolontariusz -->
      <!--  -->
      <p>{{ formVolunteer.errors }}</p>
      <form method="post" action="{% url 'register-page' %}" id="form-voluntary" hidden>
        {% csrf_token %}
        
        <h3>Zarejestruj się jako wolontariusz</h3>
    
        <div class="form-group">
            <div>
                {{ user_form.first_name.label_tag }}
                {{ user_form.first_name }}
            </div>
            <div>
                {{ user_form.last_name.label_tag }}
                {{ user_form.last_name }}
            </div>
        </div>
    
        <div>
            {{ user_form.email.label_tag }}
            {{ user_form.email }}
        </div>
    
        <div class="form-group">
            <div>
                {{ user_form.password.label_tag }}
                {{ user_form.password }}
            </div>
            <div>
                {{ user_form.confirm_password.label_tag }}
                {{ user_form.confirm_password }}
            </div>
        </div>
    
        <div class="form-group">
            <div>
                {{ volunteer_form.age.label_tag }}
                {{ volunteer_form.age }}
            </div>
            <div>
                {{ volunteer_form.phone_number.label_tag }}
                {{ volunteer_form.phone_number }}
            </div>
        </div>
    
        <div class="form-group">
            <div>
                {{ volunteer_form.gender.label_tag }}
                {{ volunteer_form.gender }}
            </div>
            <div>
                {{ volunteer_form.experience.label_tag }}
                {{ volunteer_form.experience }}
            </div>
        </div>
    
        <div>
            {{ volunteer_form.duties.label_tag }}
            {{ volunteer_form.duties }}
        </div>
    
        <div>
            {{ volunteer_form.city.label_tag }}
            {{ volunteer_form.city }}
        </div>
        <!-- Identyfikuje ktory formularz zostal przeslany  -->
        <input type="hidden" name="form_type" value="volunteer_form">
        <button class="form-btn" type="submit">Zarejestruj się!</button>
    </form>
    
      <div id="register-btns">
        <button id="voluntary-btn">Wolontariusz</button>
        <button id="senior-btn">Szukam opiekuna</button>
      </div>
    </div>

    <script src="{% static "board/scripts/register.js"%}" defer></script>
    {% endblock content %}