{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "board/styles/register.css" %}" />
<link rel="stylesheet" href="{% static "board/styles/radek.css" %}" />
{% endblock styles %}
{% block title %}
    Nasze usługi
{% endblock title %}
{% block content %}
<p id = 'cbv'>
    Usługi Nepotem Conduce
    </p>
    <p id ='abcd'>

    W Nepotem Conduce oferujemy kompleksową opiekę nad osobami starszymi, dostosowaną do indywidualnych potrzeb każdego klienta. Naszym celem jest zapewnienie bezpieczeństwa, komfortu i godności seniorów, niezależnie od ich stanu zdrowia czy stopnia samodzielności.
    </p>

    <p id = 'cbv'>
    Nasze usługi obejmują:
    
    </p>
    <p id = 'abcd'>
      <br>
        Opieka całodobowa: 
        Dla osób, które wymagają stałej, codziennej opieki i wsparcia w codziennych czynnościach. Nasze wykwalifikowane opiekunki zapewniają bezpieczeństwo, pomoc w higienie, podawaniu leków, a także towarzystwo i rozmowy.
    <br>
        Opieka doraźna: Jeśli potrzebujesz opiekuna na określony czas, np. podczas rehabilitacji, po hospitalizacji, czy w przypadku krótkoterminowej nieobecności opiekuna rodziny, oferujemy elastyczne usługi opiekuńcze dostosowane do Twoich potrzeb.
    <br>
        Opieka specjalistyczna: Dla osób zmagających się z chorobami przewlekłymi, demencją, Alzheimerem lub innymi problemami zdrowotnymi, zapewniamy opiekę opartą na doświadczeniu i wiedzy z zakresu medycyny oraz psychologii. Nasi opiekunowie są przeszkoleni, aby wspierać osoby w trudniejszych przypadkach.
    <br>
        Wsparcie w codziennych obowiązkach: Pomagamy seniorom w wykonywaniu codziennych zadań, takich jak zakupy, gotowanie, sprzątanie, czy poruszanie się po domu. Zależy nam na tym, aby seniorzy czuli się niezależni, a jednocześnie mieli dostęp do wsparcia w razie potrzeby.
    <br>
    Każdy nasz opiekun jest starannie dobierany, posiada odpowiednie kwalifikacje oraz doświadczenie, a także cechuje się empatią i cierpliwością. Dzięki naszej elastycznej ofercie, możesz liczyć na opiekę dostosowaną do Twoich oczekiwań i sytuacji.
    
    Skontaktuj się z nami, aby dowiedzieć się, jak możemy pomóc Tobie lub Twoim bliskim w codziennej opiece!
    </p>
  </p>

{% endblock content %}