{% extends "base.html" %}
{% load static %}
{% block title %}Kontakt{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static "board/styles/register.css" %}" />
<link rel="stylesheet" href="{% static "board/styles/radek.css" %}" />
{% endblock styles %}
{% block content %}
<p id="cbv">
    <strong>Kontakt z Nepotem Conduce</strong>
  </p>
  
  <p id="abcd">
    Dziękujemy za zainteresowanie naszą ofertą! Jeśli masz pytania dotyczące wynajmu opiekunów osób starszych, naszej oferty lub chcesz dowiedzieć się więcej o naszych usługach, skontaktuj się z nami. Nasi specjaliści z przyjemnością odpowiedzą na wszystkie Twoje wątpliwości i pomogą dopasować odpowiednią opiekę do Twoich potrzeb.
  </p>
  
  <p id="abcd">
    Jesteśmy dostępni telefonicznie, mailowo oraz poprzez formularz kontaktowy. Zależy nam na tym, aby każdy klient czuł się komfortowo i bezpiecznie, dlatego nasz zespół jest gotów do pomocy na każdym etapie współpracy.
  </p>
  
  <hr>
  
  <p id="cbv">
    <strong>Dane kontaktowe:</strong>
  </p>
  
  <p id="abcd">
    <strong>Telefon:</strong> [Numer telefonu] <br>
    <strong>E-mail:</strong> [Adres e-mail] <br>
    <strong>Adres:</strong> [Adres firmy] <br>
    <strong>Formularz kontaktowy:</strong> <a href="[Link do formularza]" target="_blank">Kliknij tutaj</a>
  </p>
  
  <p id="abcd">
    Skontaktuj się z nami już teraz, aby zapewnić swoim bliskim najlepszą opiekę!
  </p>

{% endblock content %}