* {
  margin: 0;
  padding: 0;
}


.container {
  margin: 0 auto;
  width: 500px;
}

h3 {
  margin-bottom: 24px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

button {
  font-family: "Poppins", sans-serif;
}

form {
  margin: 16px 0;
  background-color: #cb5d5d;
  padding: 24px 24px;
  border-radius: 2%;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.5);
}

form input,
form select,
button {
  border: none;
}

form input,
form select {
  display: block;
  padding: 10px 5px;
  border-radius: 4px;
  margin-bottom: 16px;
}

form select {
  /* padding: 10px 22px; */
  font-family: "Poppins", sans-serif;
  width: 100%;
}
form input{
  width: 100%;
}
form label {
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 1px black;
}

.form-group {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: flex-end;
}

.form-input {
  /* width: 452px; */
  /* margin-right: auto; */
}

/* .form-input input {
  width: 80%;
  margin-right: 0;
} */

.form-btn {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px;
  text-align: center;
}

form option {
  font-size: "Poppins", "sans-serif";
}

#register-btns {
  /* width: 100px; */
  display: flex;
  gap: 50px;
  justify-content: center;
}

#register-btns button {
  background: radial-gradient(circle at center, #cb5d5d, rgb(182, 71, 93));
  width: 200px;
  height: 150px;
  border-radius: 5%;
  color: white;
  text-wrap: wrap;
  font-size: 24px;
  /* padding: 90px 90px; */
  margin: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#register-btns button:hover {
  background: pink;
  cursor: pointer;
}
