*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-transform: none;

}
#naglowek {
  display: flex;
  justify-content: space-between;
  background-color: #c96464;
  padding: 16px;
}

h1 {
  font-family: "Poppins", sans-serif;
    font-size: 48px ;
    color: #421b23;
    font-weight: bold;
    text-shadow: 3px 3px 3px #994052;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #421b23;
    text-shadow: 2px 2px 2px #994052;
  }

  #logo {
    height: auto;
    width: auto;
    max-width: 5%;
    max-height: 5%;
    border-radius: 22%;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    align-content: left;
  }
  
  #naglowek-logo {
  margin-left: -52%;
  }

#nav-register-login a {
  flex-shrink: 0;
  color: #421b23;
  border-style: solid;
  background: linear-gradient(#994052, #c96464);
  margin: 5px;
  padding: 7px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #994052;
}

#nav-register-login a:hover {
  background-color: #c96464;
  color: black;
}

#ikona1, #ikona2, #ikona3, #ikona4 {
margin-right: 7%;
font-size: 17px;
}

nav {
  display: flex;
  background-color:rgb(68, 68, 68);
  box-shadow: 2px 4px 8px 4px #35151580;
  margin-bottom: 48px;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(68, 68, 68) ;
  font-weight: bold;
  width: 200px;
  text-align: center;
  border-left: solid;
  border-left-color: rgb(29, 29, 29);
  border-left-width: 3px;

  /* border-color: #421b23;
  border-style: solid;
  #c96464,#994052 */
  /* #994052, #c96464 */
}
nav a:hover {
  background-color: rgb(115,115,115)   ;
  color: black;
}

#logo {
  height: auto;
  width: auto;
  max-width: 5%;
  max-height: 5%;
  border-radius: 22%;
  border-style: solid;
  border-color: rgb(44, 44, 44);
  align-content: left;
}

#naglowek-logo {
margin-left: -52%;
}

footer{
  width: 100%;
  text-align: center;
}

body{
  background: linear-gradient(#f5f5dc, 50%, #a8a8a8);
  font-family: "Poppins", sans-serif;
}