* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	background: linear-gradient(#f5f5dc, 50%, #a8a8a8);
}


/* nawigacja */




/* sekcja powitalna */


.hero-text p {
    margin-bottom: 24px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 25px;
	font-weight: bold;
}

.home {
	z-index: 0;
	position: relative;
	height: 60rem;
	background: url('../img/TŁO.png');
	background-size: cover;
	background-position: center;
	font-weight: bold;
}

.home .welcome-text {
	font-size: 2.9rem;
	color: rgb(255, 255, 254);
}

.home .btn {
	color: rgb(255, 255, 254);
	padding: 1em 2em;
	font-size: 3rem;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px rgb(172, 21, 21);
	border-width: 5px;
}

/* sekcja about us*/

.aboutus-box h4 {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.aboutus-icon {
	font-size: 5rem;
}

.accordion-button  {
	padding: 1em;
	font-size: 2rem;
	border: 2px solid transparent;
}
.accordion-button:hover {
	border-color: #ff5733; /* Zmienia obramowanie po najechaniu */
}

.accordion-button:focus {
	box-shadow: none; /* Usuwa niebieską poświatę */
	border-color: #ff5733; /* Zmienia kolor obramowania */
}

.accordion-button:not(.collapsed) {
	background-color: #ff5733; /* Zmienia kolor tła po rozwinięciu */
	color: white; /* Zmienia kolor tekstu */
}

/* team */

.team .card-img-top {
	height: 550px;
	object-fit: cover;
}

.team .card-title {
	font-size: 2rem;
}


